body{
    background-image: linear-gradient(to right, rgba(163, 167, 177, 0.37) , rgba(90, 126, 136, 0.363));
}

.current-weather, .search-button, .five-day-forcast, .weather-header{
    background-color: rgba(29, 125, 189, 0.33);
}

.radius{
    border-radius: 20px;
    align-items: center;
}

button{
    border-radius: 5px;
    background-color: rgba(29, 125, 189, 0.33);
    color: white;
    width: 200px;
    border: none;
    height: 40px;
}

li{
    list-style:none;
    margin-top: 5%;
    
}

h6{
    color: rgb(255, 255, 255);
}

h5{
    color: rgb(255, 255, 255);
}

h4{
    color: rgba(33, 62, 93, 0.551);
}